//--PLUGIN NIB--//
@import 'nib/vendor'
vendor-preixes = o ms moz webkit official
@import 'nib/gradients'
//--Variantes--//
color-amarillo = #DA9F01
color-rosa = #C95E5F
color-titulos = #464646
color-texto = #484848
color-bg-gris = #1A1A1A
color-bg-azul = #111820
color-borde = #9A9A9A
// -- Estilos --//
// Header //
#wpadminbar
    display none !important
body, html
    height 100%
body
    overflow-x hidden
    margin 0
    font-family 'Roboto', sans-serif
    font-size 16px
h1, h2, h3, h4, h5, h6
    font-family 'Montserrat', sans-serif
select
    display block
    opacity 1
header
    position fixed
    width 100%
    top 0
    left 0
    background rgba(0, 0, 0, 0.4)
    backdrop-filter blur(13px)
    border-bottom 1px solid color-borde
    z-index 11
    #tootgle_menu_mob
        background rgba(0, 0, 0, 0.4)
        backdrop-filter blur(13px)
        color #fff
        padding 31px 32px
        position absolute
        right 0
        top 0
        border none
        display none
    #tootgle_bar_mob
        background rgba(0, 0, 0, 0.4)
        backdrop-filter blur(13px)
        color #fff
        padding 31px 32px
        position absolute
        right 0
        top 0
        border none
        display none
    .logo
        display inline-block
        vertical-align top 
        background white
        padding 15px
    .cont-menu
        display inline-block
        vertical-align top 
        ul
            margin 0 0 0 40px
            padding 0
            height 100%
            display block
            li
                display inline-block
                vertical-align top
                margin 0 10px 
                a
                    color #fff
                    font-family 'Montserrat', sans-serif
                    font-size 16px
                    font-weight 600
                    padding 27px 0
                    display block
                .sub-menu
                    display none
.carrusel-hoteles
    .card-hotel
        width 390px
        border 1px solid color-borde
        display inline-block
        margin 0 16px
        img
            width 100%
            height 200px
            object-fit cover
        .cont-card-hotel
            padding 32px
        label
            font-family 'Montserrat', sans-serif
            font-size 14px
        h6
            font-size 20px
            margin 16px 0
            font-weight 600
            display -webkit-box
            -webkit-line-clamp 1
            -webkit-box-orient vertical
            overflow hidden
            text-overflow ellipsis
            height 23px
        .btn
            width 100%
            text-align center
        ul
            margin 0 0 32px
            li  
                display inline-block
                vertical-align top
                margin 0 32px 0 0
                a
                    font-size 20px
                    color color-titulos
.filter-hotels
    margin 0 0 40px
    span
        font-family 'Montserrat', sans-serif
        font-size 20px
        font-weight 600
        display inline-block
        vertical-align middle
        margin 0 16px 0 0 
    select
        width 300px
        font-family 'Montserrat', sans-serif
        font-size 20px
        display inline-block
        vertical-align middle
        border none
        border-bottom 1px solid color-borde
.btn 
    font-family 'Montserrat', sans-serif
    border 1px solid color-borde
    color color-texto
    padding 8px 16px !important
    background none
    line-height auto
    box-shadow none
    text-transform capitalize
    height auto
    font-size 16px
    &:hover, &:active, &:focus
        background color-amarillo
        box-shadow none
        color #fff
#bar-social
    position fixed
    width 70px
    height calc(100% - 81px)
    left 0
    top 81px
    background rgba(0, 0, 0, 0.4)
    backdrop-filter blur(13px)
    border-right 1px solid color-borde
    z-index 9
    .link-top
        position absolute
        top 0
        left 0
        width 100%
        margin 0
        li
            display block
            a, button
                display block
                background rgba(0, 0, 0, 0.4)
                height 70px
                border none
                border-bottom 1px solid color-borde
                text-align center
                color #fff
                cursor pointer
                width 100%
                label
                    display block
                    margin 2px 0 0   
    .link-bottom
        position absolute
        bottom 0
        left 0
        width 100%
        margin 0
        li
            display block
            a
                display block
                background rgba(0, 0, 0, 0.4)
                height 70px
                border-top 1px solid color-borde
                text-align center
                color #fff
                font-size 18px
                i
                    margin 25px 0 0
.bar-hotels
    position fixed
    width 300px
    height calc(100% - 81px)
    left -350px
    top 81px
    background url('../images/bg-hotel.png') center center rgba(0, 0, 0, 0.8)
    background-size cover
    backdrop-filter blur(13px)
    border-right 1px solid color-borde
    z-index 8
    padding 32px
    overflow-y auto
    transition all 0.5s
    h6
        color #fff
        font-weight 600
        margin 0 0 16px 0
        text-transform uppercase
    ul
        margin 0 0 32px
        a
            color color-amarillo
.bar-hotels-active
    left 70px
#home_slider
    width 100%
    height 100%
    display block
    .scroll_info
        position absolute
        z-index 4
        bottom 64px
        left 150px
        img
            display inline-block
            vertical-align top
            margin 0 16px 0 0
        p
            display inline-block
            vertical-align top
            color #fff
            margin 0
            font-size 14px
    .video_info
        position absolute
        z-index 4
        bottom 64px
        right 300px
        img
            display inline-block
            vertical-align top
            margin 0 16px 0 0
        p
            display inline-block
            vertical-align top
            color #fff
            margin 0
            font-size 14px
    #background-video
        width 100%
        height 100%
        object-fit cover
        position absolute
        left 0
        right 0
        top 0
        bottom 0
        z-index -1
    .more-info
        width 540px
        height calc(100% - 81px)
        position absolute
        top 81px
        right -324px
        z-index 10
        background rgba(0, 0, 0, 0.4)
        backdrop-filter blur(13px)
        border-left 1px solid color-borde
        transition all 0.5s
        .close_bar
            color color-titulos
            position absolute
            top 0
            right 0
            z-index 4
            background color-amarillo
            padding 26px 33px
            border none
            cursor pointer
        .cont-action
            width 40%
            height 100%
            position absolute
            left 0
            top 0
            z-index 2
            .actionbar
                width 100%
                height 25%
                padding 32px
                border none
                border-bottom 1px solid color-borde
                border-right 1px solid color-borde
                font-family 'Montserrat', sans-serif
                font-size 20px
                font-weight 600
                cursor pointer
                color #fff
                transition all 0.5s
                background none
                box-shadow none
                text-align center
                i
                    display none
                &:hover
                    background color-amarillo
                    color color-titulos
                &:last-child
                    background #fff
                    color color-titulos
                    border-bottom none
            .active
                background color-amarillo
                color color-titulos
                &:before
                    width 0
                    height 0
                    border-left 10px solid transparent
                    border-right 10px solid transparent
                    border-top 10px solid color-amarillo
                    content ""
                    position absolute
                    right -14px
                    transform rotate(270deg)
        .cont-more-info
            width 60%
            height 100%
            position absolute
            top 0
            right 0
            z-index 1
            overflow hidden
            .slide-more-info
                width 100%
                background-size cover !important
                height calc(100vh - 81px)
                display inline-block
                position relative
                .box-more-info
                    background rgba(0, 0, 0, 0.4)
                    backdrop-filter blur(13px)
                    position absolute
                    bottom 0
                    width 100%
                    left 0
                    padding 32px
                    color #fff
                    label
                        font-size 14px
                        font-family 'Montserrat', sans-serif
                    .btn
                        width 100%
                        color #fff
                        border-color #fff
                        margin 16px 0 0 
    .open_menu
        right 0
.cont_page
    margin 50px 0
    display block
.dec
    width 100%
    height 100%
    position absolute
    left 0
    top 0
    background linear-gradient(0deg, rgba(0,0,0,0.7231267507002801) 0%, rgba(0,0,0,0.3393732492997199) 35%, rgba(0,0,0,0) 100%);
    z-index 2
.thumbnail_page
    width 100%
    height 100%
    background url('<?php echo get_the_post_thumbnail_url(); ?>')
    background-size cover
    background-position center center
    background-repeat no-repeat
@media (max-width: 1200px)
    header
        .cont-menu
            display none
        #tootgle_menu_mob
            display block
@media (max-width: 992px)
    #home_slider
        .scroll_info
            display none
        .video_info
            left 150px
            right initial
        .more-info
            width 100%
            right calc(-100% + 79px)
            .cont-more-info
                width calc(100% - 80px)
            .cont-action
                width 80px
                .actionbar
                    i
                        display block
                    span
                        display none
        .open_menu
            right 0
@media (max-width: 700px)
    #bar-social
        display none
    #home_slider
        .video_info
            left 20px