//--PLUGIN NIB--//
@import 'nib/vendor'
vendor-preixes = o ms moz webkit official
@import 'nib/gradients'
//--Variantes--//
color-amarillo = #DA9F01
color-rosa = #C95E5F
color-titulos = #464646
color-texto = #484848
color-bg-gris = #1A1A1A
color-bg-azul = #111820
// -- Estilos --//
// Header //
header
    position fixed
    width 100%
    top 0
    left 0
    background rgba(0, 0, 0, 0.4)
    backdrop-filter blur(13px)
    .cont-header
        width calc(100% - 300px)
        .logo
            display inline-block
            vertical-align top 
            background white
            padding 15px
        .cont-menu
            display inline-block
            vertical-align top 
            ul
                margin 0
                padding 0
                li
                    display inline-block
                    vertical-align top 
                    margin 0 5px